services:
  mongo:
    image: mongo:8
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ../TgChat.Admin.Api
      dockerfile: Dockerfile
      target: final
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - Mongo__ConnectionString=mongodb://mongo:27017
    ports:
      - "8000:8080"

volumes:
  mongo_data:


